[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = {extras = ["standard"], version = "*"}
celery = "*"

[dev-packages]
pylint = "*"
autoflake = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
